body{
  margin: 10px 50px 10px 50px;
  background-color: rgb(78, 73, 71);
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Cormorant Garamond', serif;    
} 

a.skip{
background: white;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: left 1s ease-out;
z-index: 1;
position: absolute;
left: -400px;
top: -200px; 
}

.skip:focus{
top: 20px ;
left: 60px;
text-decoration-color: orangered;
text-decoration-line: overline;
text-decoration-thickness: 5px;
background-color: rgb(78, 73, 71);
color: whitesmoke;
font-weight: bold;
}
div img{
  border: 5px solid rgb(20, 19, 19);
  /* border-radius: 100%; */
}
nav ul{
  display: block;
  flex-direction: column;
  font-size: 15px;
  align-items: justify;
  margin-left: 160px;
  margin-top: 30px;
  font-size: 18px;
}
nav a:focus{
text-decoration-color: orangered  ;
text-decoration-line: overline;
text-decoration-thickness: 5px;
font-weight: bold;
}

nav a{
  text-decoration: none;
  margin-left: 80px;
  font-size: 25px;
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
}

a:visited{
  color: whitesmoke; 
  font-family: 'Cormorant Garamond', serif;
}

nav a.current{
  text-decoration-style: none;
  text-decoration-line: underline;
  text-underline-offset: 10px;
  text-decoration-color: whitesmoke;
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
}

.tagline{
  font-size: 25px;
  text-align: center;
  color: whitesmoke;
  margin-top: -35px;
}
.tagline p{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;
}

main img{
  height: 900px;
  width: 400px;
}
.about p{ 
  /* margin-top: -30px;  */
  font-size: 22px;  
  line-height: 1.2;
  margin-top: -255px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
} 
main h1{
  margin-top: -850px; 
}
div h1{
  font-size: 50px;
}
div p{
  font-size: 25px;
}
footer{
margin-top: 300px;
margin-bottom: 70px;
}
div h4{
text-align: center;
margin-bottom: -150px;
margin-top: 30px;
font-size: 35px;
}
div h2{
margin: 30px;
font-size: 35px;
color: whitesmoke;
text-align: center;
margin-top: 200px;
margin-bottom: 5px;
}
.connect img{
  height: 900px;
  width: 400px;
}

.voluntaryimage{
  margin-top: 30px;
  margin-bottom: -130px;
}

.toolkitimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.idealmateimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.transimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.enhancedimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.cvfsimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.childfreeimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.feltloveimage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.casualseximage{
  margin-top: 30px;
  margin-bottom: -130px;
}
.cnmimage{
margin-top: 30px;
margin-bottom: -130px;
}
.socialmediaimage{
margin-top: 30px;
margin-bottom: -130px;
}
.ovulationimage{
  margin-top: 30px;
  margin-bottom: -130px;
}

.connect h3{
  margin-top: -870px;
  color: black;
  font-size: 30px;
}
.connect p{
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  text-align: center;
}
.links a{
  color: black;
  font-size: 20px;
}
ul li{
  color: black;
}
.contact p{
  color: black;
  font-size: 20px;
  margin-top: 300px;
  margin-left: 170px;
}
div h3{
margin: 30px;
font-size: 35px;
color: whitesmoke;
text-align: center;
margin-top: 60px;
margin-bottom: 5px;
}
.research1 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research1a p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research1b p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research2 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research3 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research4 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research5 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research6 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research7 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research8 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research9 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}
.research10 p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
  text-align: justify;
}

/* Add Music Player Here */
.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid whitesmoke;
  margin: 5px;
  padding: 5px;
  background-color: gray;
  font-weight: bold;
}
 
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
 
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: URL(
     "https://source.unsplash.com/Qrspubmx6kE/640x360");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}
 
/* Changing the font sizes to suitable ones */
.now-playing {
  font-size: 30px;
  margin-top: 100px;
}
 
.track-name {
  font-size: 30px;
}
 
.track-artist {
  font-size: 30px;
}
 
/* Using flex with the row direction to
   align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
 
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
 
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
  margin-top: -18px;
  margin-bottom: 115px;
}
 
.current-time,
.total-duration {
  padding: 10px;
  margin-top: -18px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  margin-top:-18px;
  margin-bottom: 115px;
}
 
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}


/* End Music Player Code Here */


@media only screen and (min-width: 1200px) {

/* .voluntaryimage, .idealmateimage, .transimage{
  width: 100%; 
} */

main img{
background-image: url(../images/main.jpg);
background-color: #cbcbcb;
min-height: 1500px;
width: 100%; 
background-attachment: fixed; 
background-position: center;
background-repeat:no-repeat; 
background-size: cover; 
transition-property: border-radius, color, width; 
transition-duration: 3s; 
transition-timing-function: ease-in; 
transition-delay: .25s;  
display: flex; 
justify-content: center; 
 }

/* main img:hover {  
filter:contrast(100%); 
color:#FFFFFF; 
width: 400px; 
border-radius: 50%; 
display: flex; 
justify-content: center; 
}   */
div img{
  border: 5px solid rgb(20, 19, 19);
  border-radius: 100%;}

nav ul{
  display: flex;
  flex-direction: row;
  column-gap: 55px;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}
nav a{
  text-decoration: none;
  padding: 30px 30px 20px 40px;
  margin: 10px 10px 10px 40px;
  font-size: 25px;
  color: whitesmoke;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}


h2{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}

.hello{
  margin-left: 60px;
  margin-top: -2030px;
}

.tagline p{
  font-size: 35px;
  text-align: center;
  margin: 180px 100px 10px 100px;
  padding: 0px 100px 10px 100px;
  font-size: 50px;
}
div h1{
  margin-top: 650px;
  margin-bottom: -180px;
  font-size: 60px;
}
.about p{
  margin-right: 450px;
  margin-left: 400px;
  margin-top: -280px;
  font-size: 28px;
}
footer{
/* margin-top: -100px; */
margin-bottom: 100px;
margin-left: 40px;
margin-top: 900px;
}

.grid{
  display: grid;
  width:  100%;
  grid-template-columns: 40% 60%;
  position: relative;
  column-gap: 20px;
  justify-content: space-between;
  margin: 20px 60px 20px 60px;
  padding: 10px;
} 

.research1{ 
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: justify;
}
.voluntaryimage{ 
  grid-column: 2 / -1;
  grid-row: 1;
  margin-top: 220px;
  margin-left: 200px;

}
.research1a{
  grid-column: 2 / -1;
  grid-row: 2;
  margin-right: 200px;
  margin-left: 100px;
  margin-top: 20px;
  text-align: justify;
}
.toolkitimage{
  grid-column: 1 / 2;
  grid-row: 2;
  margin-top: 235px;
  margin-right: 10px;
}
.research1b{
  grid-column: 1 / 2;
  grid-row: 3;
  margin-top: -140px;
  text-align: justify;
}
.idealmateimage{
  grid-column: 2 / -1;
  grid-row: 3;
  margin-top: -390px;
  margin-left: 710px;
}
.research2{
  grid-column: 2 / -1;
  grid-row: 4;
  margin-top: -720px;
  margin-left: 100px;
  margin-right: 220px;
  text-align: justify;
}
.transimage{
  grid-column: 1 / 2;
  grid-row: 4;
  margin-top: -490px;
  margin-right: 220px;
}
.research3{
  grid-column: 1 / 2;
  grid-row: 5;
  margin-top: -220px;
  text-align: justify;
}
.enhancedimage{
  grid-column: 2 / -1;
  grid-row: 5;
  margin-left: 160px;
  margin-top: -5px;
}
.research4{
  grid-column: 2 / -1;
  grid-row: 6;
  margin-top: -140px;
  margin-left: 120px;
  margin-right: 260px;
  text-align: justify;
}
.cvfsimage{
  grid-column: 1 / 2;
  grid-row: 6;
  margin-top: 80px;
  margin-right: 320px;
}
.research5{
  grid-column: 1 / 2;
  grid-row: 7;
  margin-top: -115px;
  text-align: justify;
}
.childfreeimage{
  grid-column: 2 / -1;
  grid-row: 7;
  margin-left: 115px;
  margin-top: 95px;
}
.research6{
  grid-column: 2 / -1;
  grid-row: 8;
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 260px;
  text-align: justify;
}
.feltloveimage{
  grid-column: 1 / 2;
  grid-row: 8;
  margin-top: 220px;
  margin-right: 320px;
}
.research7{
  grid-column: 1 / 2;
  grid-row: 9;
  margin-top: 95px;
  text-align: justify;
}
.casualseximage{
  grid-column: 2 / -1;
  grid-row: 9;
  margin-left: 130px;
  margin-top: 300px;
}
.research8{
  grid-column: 2 / -1;
  grid-row: 10;
  margin-top: -150px;
  margin-left: 120px;
  margin-right: 260px;
  text-align: justify;
}
.cnmimage{
  grid-column: 1 / 2;
  grid-row: 10;
  margin-top: 60px;
  margin-right: 320px;
}
.research9{
  grid-column: 1 / 2;
  grid-row: 11;
  margin-top: -80px;
  text-align: justify;
}
.socialmediaimage{
  grid-column: 2 / -1;
  grid-row: 11;
  margin-left: 130px;
  margin-top: 130px;
}
.research10{
  grid-column: 2 / -1;
  grid-row: 12;
  margin-top: -120px;
  margin-left: 120px;
  margin-right: 260px;
  text-align: justify;
}
.ovulationimage{
  grid-column: 1 / 2;
  grid-row: 12;
  margin-top: 100px;
  margin-right: 320px;
}
.connect h3{
  margin-top: -1100px;
  color: black;
  font-size: 40px;
}
.connect p{
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 28px;
  color: black;
}
.connect img{
  width: 1325px;
  height: 1200px;
}
.links a{ 
  /* margin-left: -200px;
  margin-right: 900px;  */
  color: black;
  font-size: 25px; 
}
 ul li{
  /* margin-left: 350px;
  margin-right: 400px; */
  color: black;
  font-size: 25px;
} 
.links ul li{
  margin-left: 115px;
  margin-right: 600px;
}

ul li p {
  margin-left: 50px;
  margin-right: 960px;
  font-size: 28px;
}
.contact {
  margin-top: 880px;
  margin-left: 330px;
  color: black;
  font-size: 25px;
} 
.contact p{
  font-size: 28px;
  margin-top: -1150px;
} 
div .contact{
  margin-left: 300px;
  margin-right: 700px;
}
/* .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

div h3{
  font-size: 50px;
}
.tag{
  margin-bottom: 0px;
  margin-top: 60px;
  margin-left: -560px;
}
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off transition*/
  .intro:hover {
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }
}
}
